<div class="prologue">
  <h2 id="sec-prologue">Prologue</h2>

  {{range .Parts}}
  <div class="prologue-part-{{.Order}}">
    <h3>{{.Title}}</h3>
    {{if .IsReadAloud}}<div class="read-aloud">{{.Content}}</div>{{else}}<p>{{.Content}}</p>{{end}}
  </div>

  {{end}}
</div>
